/* dashboard_student_home.css */

/* .users-icon {
    background-color: #F2F8F1;
} */
.homess-icon {
    background-color: #F2F8F1;
}
 .userss-icon {
    background-color: #F2F8F1;
}

main {
    display: flex;
}

.dashboard-partition {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 3rem;
}

.dashboard-partition h4 {
    color: #E35226;
}

.dashboard-partition h6 a {
    color: #1887DC;
}

.dash-partition-header-student {
    width: 100%;
    height: 250px;
    border-radius: 20px;
    margin: 2rem 2rem 2rem 2rem;
    display: flex;
    justify-content: space-between;
}

.dash-partition-header-student div {
    padding: 2rem 0 2rem 2rem;
    background-color: white;
    height: 100%;
    width: 33%;
    border-radius: 20px;
    box-shadow: 20px 20px 40px -2px rgba(0, 0, 0, .5);
}

.dash-partition-cv-lm {
    display: flex;
    width: 100%;
    height: 250px;
    border-radius: 20px;
    margin: 2rem 2rem 2rem 2rem;
    justify-content: space-between;
}

.partition-cv,
.partition-lm {
    padding: 2rem 0 2rem 2rem;
    width: 40%;
    height: 100%;
    background-color: white;
    border-radius: 20px;
    box-shadow: 20px 20px 40px -2px rgba(0, 0, 0, .5);
}

.dash-partition-description {
    padding: 2rem 0 2rem 2rem;
    background-color: white;
    width: 100%;
    height: 250px;
    border-radius: 20px;
    margin: 2rem 2rem 2rem 2rem;
    justify-content: space-between;
    box-shadow: 20px 20px 40px -2px rgba(0, 0, 0, .5);
}

.partition-header-status div {
    background-color: white;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    width: 100%;
    height: 100%;
}

.partition-header-status div input {
    padding-left: 1rem;
}



/* dashboard_student.css */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: #F2F8F1;
}
/* avatar css  */

.student-avatar-dashboard img {
    background-color: white;
    width: 100px;
    border-radius: 50%;
}

.student-avatar-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.sidebar {
    background-color: #262D2A;
    margin: 2rem 0 2rem 2rem;
    border-radius: 20px;
    width: 180px;
    height: 900px;
    box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, .8);
}
/* end of avatar css  */
/* icons css  */

.center-icons-dashboard {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 180px;
}

.sidebar ul li {
    margin-top: 2rem;
}

.fa-house-user,
.fa-users,
.fa-comment,
.fa-bell {
    font-size: 40px;
    color: #E35226;
    width: 100%;
}

#logout-icon {
    margin-top: 300px;
}

.home-icon,
.home-icon-chat,
.users-icon,
.messages-icon,
.bell-icon {
    display: flex;
    justify-content: center;
    border-radius: 40px 0 0 40px;
    width: 100%;
}

.home-icon:hover,
.users-icon:hover,
.home-icon-chat:hover,
.messages-icon:hover,
.bell-icon:hover {
    background-color: #F2F8F1;
    border-radius: 40px 0 0 40px;
    color: #262D2A;
    transition: 0.3s;
    padding-left: 10px;
}

.fa-comment:hover,
.fa-house-user:hover,
.fa-users:hover,
.fa-bell:hover {
    color: #E35226;
    transition: 0.3s;
}


/* dashboard_company_home.css */





main {
    display: flex;
}

.dashboard-partition {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 3rem;
}

.dashboard-partition h4 {
    color: #E35226;
}

.dashboard-partition h6 a {
    color: #1887DC;
}

.dash-partition-header {
    padding: 2rem;
    width: 100%;
    height: 250px;
    border-radius: 20px;
    margin: 2rem 2rem 2rem 2rem;
    display: flex;
    justify-content: space-between;
    box-shadow: 20px 20px 40px -2px rgba(0, 0, 0, .5);
    background-color: white;
}

.partition-header-profil-entreprise {
    border-right: solid 2px black;
}

.link-search-page {
    border-left: solid 2px black;
}

.link-search-page a {
    color: #1887DC;
    font-weight: bold;
}

.dash-partition-header div {
    padding: 2rem 0 2rem 2rem;
    height: 100%;
    width: 50%;
}

.dash-partition-cv-lm {
    display: flex;
    width: 100%;
    height: 250px;
    border-radius: 20px;
    margin: 2rem 2rem 2rem 2rem;
    justify-content: space-between;
}

.partition-cv,
.partition-lm {
    padding: 2rem 0 2rem 2rem;
    width: 40%;
    height: 100%;
    background-color: white;
    border-radius: 20px;
    box-shadow: 20px 20px 40px -2px rgba(0, 0, 0, .5);
}

.div-adopted-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}

.div-adopted-button p {
    text-align: center;
    color: rgb(255, 255, 255);
}

.adopted-button {
    padding: 2rem 0 2rem 0;
    background-color: #262D2A;
    width: 20%;
    border-radius: 20px;
    box-shadow: 20px 20px 40px -2px rgba(0, 0, 0, .5);
}

.row{
    margin-bottom: 30px;
    margin-top: 0px;
}
/* responsive  */


/* responsive  */

@media screen and (max-width: 790px) {
    .dash-partition-header-student {
        height: 50%;
    }
    .adopted-button {
        width: 150px;
    }
    .sidebar {
        width: 20%;
    }
    .center-icons-dashboard {
        width: 100%;
    }
    .student-avatar-dashboard img {
        width: 60px;
    }
}





@media screen and (max-width: 790px) {
    .dash-partition-header {
        height: 50%;
    }
    .adopted-button {
        width: 150px;
    }
    .sidebar {
        width: 20%;
    }
    .center-icons-dashboard {
        width: 100%;
    }
    .student-avatar-dashboard img {
        width: 60px;
    }
}
@media screen and (max-width: 574px) {
    main {
        display: flex;
        flex-direction: column;
    }
    .sidebar {
        order: 2;
        width: 90%;
        height: 100px;
    }
    .sidebar ul {
        display: flex;
        flex-direction: row;
        padding-bottom: 0;
        height: 100%;
    }
    .center-icons-dashboard {
        display: flex;
        flex-direction: row;
        height: 100%;
        margin-top: 0;
        justify-content: space-between;
        padding-right: 0.5rem;
    }
    .student-avatar-container {
        width: 150px;
    }
    .home-icon:hover,
    .home-icon-chat:hover,
    .message-icon:hover,
    .users-icon:hover,
    .bell-icon:hover {
        background-color: #F2F8F1;
        border-radius: 0 0 15px 15px;
        color: #262D2A;
        transition: 0.3s;
        padding: 0;
    }
    .home-icon,
    .home-icon-chat,
    .message-icon,
    .users-icon,
    .bell-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0 0 15px 15px;
        height: 100%;
    }
    .student-avatar-dashboard {
        display: flex;
        align-items: center;
    }
    #logout-icon {
        margin-left: 10px;
    }
    .dash-partition-header-student {
        width: 100%;
        height: 500px;
        border-radius: 20px;
        margin: 2rem 2rem 2rem 2rem;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        box-shadow: none;
        background-color: transparent;
    }
    .partition-header-profil-entreprise,
    .link-search-page {
        border: none;
    }
    .dash-partition-header-student div {
        padding: 2rem 0 2rem 2rem;
        border-radius: 20px;
        height: 45%;
        width: 100%;
        margin-bottom: 10px;
        box-shadow: 20px 20px 40px -2px rgba(0, 0, 0, .5);
    }
    .partition-cv,
    .partition-lm {
        padding: 1rem 1rem 1rem 1rem;
        width: 48%;
        height: 100%;
    }
    .dash-partition-cv-lm {
        margin-top: 5rem;
    }
    .partition-header-status div {
        background-color: rgb(255, 255, 255);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 574px) {
    main {
        display: flex;
        flex-direction: column;
    }
    .sidebar {
        order: 2;
        width: 90%;
        height: 100px;
    }
    .sidebar ul {
        display: flex;
        flex-direction: row;
        padding-bottom: 0;
        height: 100%;
    }
    .center-icons-dashboard {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 100%;
        margin-top: 0;
        padding-right: 0.5rem;
    }
    .student-avatar-container {
        width: 150px;
    }
    .home-icon:hover,
    .home-icon-chat:hover,
    .message-icon:hover,
    .users-icon:hover,
    .bell-icon:hover {
        background-color: #F2F8F1;
        border-radius: 0 0 15px 15px;
        color: #262D2A;
        transition: 0.3s;
        padding: 0;
    }
    .home-icon,
    .fa-list,
    .fa-users,
    .message-icon,
    .bell-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0 0 15px 15px;
        height: 100%;
    }
    .student-avatar-dashboard {
        display: flex;
        align-items: center;
    }
    #logout-icon {
        margin-left: 10px;
    }
    .dash-partition-header {
        width: 100%;
        height: 500px;
        border-radius: 20px;
        margin: 2rem 2rem 2rem 2rem;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        box-shadow: none;
        background-color: transparent;
    }
    .partition-header-profil-entreprise,
    .link-search-page {
        border: none;
    }
    .dash-partition-header div {
        padding: 2rem 0 2rem 2rem;
        border-radius: 20px;
        height: 45%;
        width: 100%;
        box-shadow: 20px 20px 40px -2px rgba(0, 0, 0, .5);
    }
}


@media screen and (max-width: 574px) {
    .home-icon,
    .home-icon-chat,
    .message-icon,
    .bell-icon,
    .logout-dashboard {
        width: 20%;
    }
    .sidebar ul li {
        margin: 0;
    }
    #logout-icon {
        margin-top: 0;
    }
    .received-messages {
        width: 90%;
    }
}

@media screen and (max-width: 390px) {
    .received-messages {
        width: 80%;
    }

    .h4, h4, h5 {
        font-size: smaller;
    }
    
}

